<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Cadastro de Candidaturas'">

<body>
<div layout:fragment="content">
    <form th:action="@{/candidaturas}" method="POST" th:object="${candidatura}">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group mx-sm-3 mb-2">
            <label for="candidato.id">Candidato</label>
            <select th:field="*{candidato.id}" class="form-select mb-2">
                <option th:each="cor : ${candidatos}" th:value="${cor.id}" th:text="${cor.nome}" />
            </select>
            <p th:if="${#fields.hasErrors('candidato.id')}" th:errorclass="error" th:errors="*{candidato.id}" class="alert alert-danger"/>
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="ofertaEstagio.id">Oferta de Estagio</label>
            <select th:field="*{ofertaEstagio.id}" class="form-select mb-2">
                <option th:each="cor : ${ofertasEstagio}" th:value="${cor.id}" th:text="${cor.atividadePrincipal}" />
            </select>
            <p th:if="${#fields.hasErrors('ofertaEstagio.id')}" th:errorclass="error" th:errors="*{ofertaEstagio.id}" class="alert alert-danger"/>
        </div>

        <p th:if="${mensagem}" th:text="${mensagem}"></p>

        <div class="form-group mx-sm-3 mb-2">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-secondary" th:href="@{/candidaturas/list}">Cancelar</a>
        </div>
    </form>
</div>
</body>

</html>